@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", serif;
}

/* header,main{
  width: 1080px;  
  margin: 0 auto;
}

body >*{
  background-color: rgb(248, 245, 245);
}

body >*:last-child{
  background: none;
} */

body {
  background-color: rgb(248, 245, 245);
}

header,
main {
  width: 1280px;
  margin: 0 auto;
}

footer {
  background-color: #fff;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.logo {
  font-size: 32px;
  font-weight: 700;
}

.primary-btn {
  order: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  /* padding: 15px 30px 15px 30px; */
  width: 130px;
  height: 48px;
  color: rgb(0, 106, 80);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease;
  background-color: transparent;
}

.primary-btn:hover {
  background-color: rgb(0, 106, 80);
  border: none;
  color: #fff;
}

.banner {
  border-radius: 24px;
  background-image: radial-gradient(
    circle,
    rgb(235, 154, 154),
    rgb(171, 236, 206)
  );
  /* background: rgb(198, 228, 214); */
  display: flex;
  align-items: center;
  gap: 4em;
  padding: 80px 80px;
  margin: 50px 0;
}

.bangladesh {
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 500;
}

.banner-content > * {
  margin-bottom: 0.75em;
}

.banner-title {
  font-size: 56px;
  font-weight: 700;
}

.explore {
  border-radius: 8px;
  background: rgb(0, 106, 80);
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 17px 34px 17px 34px;
  border: none;
  cursor: pointer;
}

/* Main part  */
main {
  padding: 2em 0;
}
.title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 1em;
}
.description {
  color: rgba(14, 14, 14, 0.7);
}

.vision-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.vision {
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 325px;
  width: 410px;
}

.vision-btn {
  width: 130px;
  height: 45px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  letter-spacing: .5px;
}

/* .explore:hover{
  background-color: none;
} */
.digital-btn{
  background-color: rgb(84, 144, 245);
}
.modern-box {
  background-color: rgb(247, 235, 207);
}
.energy-box {
  background-color: rgb(198, 228, 214);
}
.energy-btn {
  background-color: rgb(9, 161, 92);
}
.modern-btn {
  background-color: rgb(255, 194, 57);
}
.text-grow {
  display: flex;
  flex-grow: 1;
}

.vision-container {
  display: flex;
  gap: 1.5em;
  margin-top: 2em;
}

/* Quotetion part  */
.quote {
  padding: 3em 1.5em;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background-color: #fff;
  background:#fff url("./assets/quote-bg.png") no-repeat 22px 20px;
  margin: 2em 0 5em 0;
  /* box-shadow: 0 4px 8px 0 black; */
}

.author {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  padding: 0.75em 0 0.25em 0;
  display: inline-block;
}

.topics > * {
  margin-bottom: 16px;
}
.topics > * :last-child {
  margin-bottom: 0;
}

.news {
  display: flex;
  flex-direction: row-reverse;
  gap: 2em;
  padding: 3em;
  border-radius: 1.5em;
  background: rgb(255, 255, 255);
  align-items: center;
  margin-top: 2em;
}

#news-img-reverse {
  display: flex;
  gap: 2em;
  padding: 3em;
  border-radius: 1.5em;
  background: rgb(255, 255, 255);
  align-items: center;
  margin-top: 2em;
}

.news-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: 700;
}

.news-btn{
  background-color: rgb(0, 106, 80);
}
.topics + img {
  border-radius: inherit;
}
.time {
  margin-left: 0.75em;
}

/* Donate section  */
.donate-content {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin: 5em 0;
  text-align: center;
}
.donate-container {
  display: flex;
  gap: 1.5em;
  justify-content: center;
}
.donate-box {
  padding: 1em;
  color: rgba(14, 14, 14, 0.8);
  font-size: 40px;
  font-weight: 700;
  margin: 1.5em 0;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.5s ease;
}

.donate-box:hover {
  background-color: rgb(198, 228, 214);
}

.input-container {
  margin: 0 auto;
  width: 80%;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  margin-bottom: 2em;
  outline: none;
}

[type *='e']{
  font-size: 18px;
  color: rgba(14, 14, 14, 0.7);
}

.input-container input {
  width: 100%;
  background: rgb(255, 255, 255);
  padding: 20px 40px 20px 40px;
  outline: none;
  border: none;
}

.input-container input::placeholder{
  color: rgba(14, 14, 14, 0.3);
  text-align: center;
}

/* Subscribe Newsletter */
.subscribe-container {
  text-align: center;
  background-image: radial-gradient(
    circle,
    rgb(235, 154, 154),
    rgb(171, 236, 206)
  );
  padding: 80px 100px;
  border-radius: 24px;
  margin-bottom: 2.5em;
}

.email {
  padding: 19px 40px;
  width: 50%;
  margin-right: 0;
  border-radius: 8px 0px 0px 8px;
  outline: none !important;
  border: none;
}

.subscription-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}
.subscribe-btn {
  border-radius: 0px 8px 8px 0px;
  background: rgb(0, 106, 80);
  margin-left: -6px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 20px 34px 20px 34px;
  border: none;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 3em 0;
}
.footer-text {
  border-bottom: 1px solid rgba(14, 14, 14, 0.1);
  padding-bottom: 1em;
  width: 1120px;
  margin: 0 auto;
}
.social-site {
  margin: 3em;
}

.instagram {
  margin: 0 23px;
}
